.container {
  background-color: rgb(119, 117, 117);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainedit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updatemain {
  align-items: center;
}
.head {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.mainbanner {
  width: 100%;
  max-width: 720px;
  height: auto;
  margin-top: 5px;
  border-radius: 20px;
}
.title {
  background-color: black;
  color: #fff;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15px;
}
.maincard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 720px;
}
